//- content structure
#content
    #add-remove-client-container
        input#client-add-input(type="text" placeholder="Client Id")
        button#add-client-button.click-button Add Client To Serve
        button#remove-client-button.click-button Remove Client to Serve
    
    #display-clients-container
        button#get-clients-button.click-button Get Clients to Serve 
        ul#clients-to-serve-list
