//- content structure
#content
    #add-remove-client-container
        input#client-id-input(type="text" placeholder="Client Id")
        button#add-client-button.click-button Add Client To Serve
        button#remove-client-button.click-button Remove Client to Serve
    
    #display-clients-container
        button#get-clients-button.click-button Get Clients to Serve 
        ul#clients-to-serve-list


    #add-remove-sites-container
        input#site-url-input(type="text" placeholder="Site URL")
        button#add-site-button.click-button Add Site
        button#remove-site-button.click-button Remove Site
    
    #display-sites-container
        button#get-sites-button.click-button Get Sites 
        ul#sites-list
