// content styles
#content
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding 20px 0
    box-sizing: border-box
    transition: opacity 0.3s
    overflow: hidden

#content
    text-align left
    .click-button
        padding 7px 10px
        // display block
        min-width 180px
        margin-left 15px
        background-color #808080
        color white
        font-weight bold
        border-radius: 3px
    input
        display block
        color black
        margin-left auto
        margin-right auto
        box-sizing: border-box
        overflow: hidden
        text-overflow: ellipsis
        border solid 1px #808080
        width calc(100% - 30px)

#add-remove-client-container > *
    margin-bottom 5px
#add-remove-client-container
    margin-bottom 50px


#clients-to-serve-list
    width calc(100% - 30px)
    margin-left auto
    margin-right auto

    li
        color black
        margin-left 20px
        list-style: circle
        padding-top: 7px