/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

/*==============================================================================
main component
==============================================================================*/
@import 'components/main.styl'


// body
//     transition: transform 0.4s    
// body.away
//     transform translateX(100vw)

// #mainframe
//     position relative
//     transition: transform 0.3s    
// #mainframe.zoomed-out
//     transform scale(0.8)