// header styles
#header
    position: relative
    width 100%
    height 55px

#settings-button
    position: absolute
    top 0
    right 10px
    width 70px
    height 70px
    padding 15px
    box-sizing: border-box
    transition transform 0.3s
    svg
        width: 40px
        height 40px


#settings-button.on
    color cd-background
    transform: translateX(-100vw) translateX(+100%) translateX(+20px)    