#main
    position fixed
    bottom 15px
    left 15px
    height calc(100vh - 85px)
    width calc(100% - 30px)
    border-radius 20px    
    overflow hidden
    z-index 99
    transition: background-color 0.3s
    background-color white


body.settings
    #main
       background-color cd-background
