//- settings structure
#settings
    #settings-account.settings-entry.click-button Account
    #settings-signalling-server.settings-entry.click-button Signalling Server
    #settings-turn-server.settings-entry.click-button STUN/TURN Server
