/*==========================================================
Settings Content
==========================================================*/
#settings
    position absolute
    top 0
    left 0
    width 100%
    height calc(100vh - 85px)
    padding 20px 0
    box-sizing: border-box
    overflow: hidden
    transition: opacity 0.3s
    opacity: 0
    overflow-y auto
    z-index: -1

#settingsoff
    position: fixed
    top 0
    right 0
    width 70px
    height 100vh
    padding 15px
    box-sizing: border-box
    transition transform 0.3s
    transform: translateX(102%)
    background-color: cd-verydark
    z-index 5
    svg
        width: 40px
        height 40px

.settings-entry
    padding: 15px 20px
    font-size: 15pt
    text-align: left
    display: block
    border-bottom: solid 1px #444
    .text
        max-width calc(100% - 30px)
        overflow: hidden
        text-overflow: ellipsis
    .arrow
        position: absolute
        right 20px
        top 50%
        transform translateY(-50%)
        color #666

        svg
            width 30px
            height 30px
    
.icon-entry
    .text
        max-width calc(100% - 70px)
        overflow: hidden
        text-overflow: ellipsis
        position relative
        left 40px
    .icon
        position: absolute
        left 20px
        top 50%
        transform translateY(-50%)
        color white

        svg
            width 30px
            height 30px

.settings-entry:last-child
    border-bottom: none


.grouping-head
    margin-top 30px
    padding: 15px 20px
    font-size: 15pt
    text-align: right
    color #888

/*==========================================================
Settings Content - present
==========================================================*/
body.settings
    #content
        opacity 0
        z-index -1
    #settings
        opacity 1
        z-index 20
    
    #settingsoff
        transform: translateX(0)

/*==========================================================
settingspages specifics
==========================================================*/
@import 'settingspage-base.styl'
@import 'allsettingspages.styl'
