// settings styles
#settings
    position absolute
    top 0
    left 0
    width 100%
    height calc(100vh - 85px)
    padding-top 30px
    padding-bottom 30px
    box-sizing: border-box
    overflow: hidden
    transition: opacity 0.3s
    opacity: 0
    overflow-y scroll

#settingsoff
    position: fixed
    top 0
    right 0
    width 70px
    height 100vh
    padding 15px
    box-sizing: border-box
    transition transform 0.3s
    transform: translateX(102%)
    background-color: cd-verydark
    z-index 5
    svg
        width: 40px
        height 40px

.settings-entry
    background-color cd-grey
    margin-bottom 20px
    padding: 20px
    font-size: 17pt
    text-align: left
    display: block
    .text
        max-width calc(100% - 30px)
        overflow: hidden
        text-overflow: ellipsis
    .arrow
        position: absolute
        right 20px
        top 50%
        transform translateY(-50%)

        svg
            width 30px
            height 30px

.grouping-head
    margin-top 10px
    padding: 20px
    font-size: 15pt
    text-align: right

body.settings
    #content
        opacity 0
    #settings
        opacity 1
    
    #settingsoff
        transform: translateX(0)